@import '../../scss/elements/colors';
@import '../../scss/settings/fonts';


.text-description{
    display: flex;
    justify-content: center;
    background-color: $color-lightgrey-space;
    &-left{
        width: 20%;
        text-align: end;
        color: $color-lightgrey-text;
        margin-right: 20px;
        font-family: $font-noto;
        font-size: 20px;
    }
    &-right{
        width: 50%;
        font-family: $font-noto;
        font-size: 17px;
        color: $color-section;  
    }
}