@import '../../scss/elements/colors';
@import '../../scss/settings/fonts';

.accommodation{
    background-color: $color-section; 
    text-align: center;
    font-size: 35px;
    padding: 25px;
    letter-spacing: 3px;
    text-decoration: underline;
    margin-bottom: 10px;
    color: $color-lightgrey-space;
    font-weight: 100;
    border-radius: 3px;
    font-family: $font-roboto;
//     box-shadow: 0 -5px 40px $color-hover;
}