@import '../../scss/elements/colors';
@import '../../scss/settings/fonts';

.distance{
    display: flex;
    justify-content: center;
    background-color: $color-lightgrey-space;

    &-text{
        color: $color-lightgrey-text;
        font-family: $font-noto;
        font-size: 20px;
        width: 20%;
        text-align: end;
        margin-right: 20px;
    }
    &-all{
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-family: $font-noto;
        color: $color-section;
        
    }
}