@import '../../scss/elements/colors';
@import '../../scss/settings/fonts';

.icons{
    // background-color:  rgb(252 248 248);
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    
    &-all{
        text-align: center;
        &-home{
        font-size: 80px;
        color: $color-lightgrey-text;
        }
        &-parking{
        font-size: 80px;
        color: $color-lightgrey-text;
        }
         &-pool{
        font-size: 80px;
        color: $color-lightgrey-text;
        }
        &-person{
        font-size: 80px;
        color: $color-lightgrey-text;
        }
         &-wifi{
        font-size: 80px;
        color: $color-lightgrey-text;
        }
    }
    &-text{
        font-size: 15px;
        color: $color-lightgrey-text;
        font-family: $font-noto;
}
}