@import '../../scss/elements/colors';
@import '../../scss/settings/fonts';

.rooms{
    background-color: $color-lightgrey-space;
     &-text{
         text-align: center;
         font-size: 35px;
         padding: 25px;
         margin-bottom: 10px;
         color: $color-lightgrey-text;
         font-weight: 100;
         border-radius: 3px;
         font-family: $font-noto;
     }
      &-img{
          max-width: 20%;
          height: auto;
          width: 30vw;
          height: 30vh;
          object-fit: cover;
          padding: 5px;
        }
        &-left-arrow{
          font-size: 3rem;
          color: $color-arrows;
        }
        &-right-arrow{
          font-size: 3rem;
          color: $color-arrows;
        }
 }

 #lightbox-img {
    height: 80vh;
    max-width: 90vw;
    object-fit: cover;
  }
  #lightbox {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(26 26 26 / 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // button {
  //   color: white;
  //   border: 2px solid #a167da;
  //   font-size: 3rem;
  // }
  img:hover, button:hover {
    cursor: pointer;
  }
  
