@import '../../scss/elements/colors';
@import '../../scss/settings/fonts';

.calendar-picker{
    background-color: $color-section;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-top: 27px;
    border-radius: 3px;
    border: 2px solid $color-hover;
    width: 100%;

    &-all{
    width: 70%;
    display: flex;
    justify-content: center;
        &-arrival{
            color: $color-white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &-lab1{
                width: 53%;
                font-size: 18px;
                margin-right: 15px;
                font-family: $font-noto;
            }
            &-wrapper{
                padding: 7px;
                border: 2px solid $color-hover;
                border-radius: 5px;
                margin-right: 15px;
            }    
        }
        &-departure{
            color: $color-white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            &-lab2{
                width: 73%;
                font-size: 18px;
                margin-right: 15px;
                font-family: $font-noto;
            }
            
            &-wrapper{
                padding: 7px;
                border: 2px solid $color-hover;
                border-radius: 5px;
            }
        }
    }
    .button{
            background-color: $color-button;
            color: $color-white;
            font-size: 16px;
            padding: 15px 35px;
            border-radius:10px ;
            border: 2px solid $color-hover;
            font-family: $font-noto;
            margin-left: 40px;
      
        
    }
}
// .summary{
//     display: flex;
//     font-size: 18px;
// }

