$color-section: rgb(98, 98, 98);
$color-section-primary: rgb(193, 193,193);
$color-section-secondary: rgb(165,165,165);
$color-lightgrey-text: rgb(169, 169, 169);
$color-lightgrey-space: rgb(252, 248, 248);
$color-arrows: rgb(212, 209, 209);
$color-hover: #A5A5A5;
$color-black: black;
$color-white: white;
$color-button: rgb(96,96,96);